# Secrets
.env
.env.*
!.env.example

# OS / editor
.DS_Store
Thumbs.db

# Docs
Update file.docx
~$*.docx
*.docx

# Node
**/node_modules
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

# Builds
**/build
**/dist
